.about-hero {
    background-color: rgba(255,255,255,0.8);
    margin: 150px auto 80px auto;
    width: 60%;
    padding: 20px 30px;
}

.about-first {
    width: 50%;
    color: black;
    float: left;
    padding-right: 20px;
}

.about-second {
    width: 50%;
    color: $pink;
    float: left;
    padding-left: 20px;
}

.about-third {
    text-align: center;
}

.ion-social-facebook{
    font-size: 24px;
    background-color: $pink;
    color: white;
    padding: 5px 15px;
    border-radius: 100%;
}

.cta-link {
        color: white;
        text-decoration: none;
        &:hover .landing-cta{
            color: black;
        }
    }

.landing-cta {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: $pink;
    color: white;
    padding: 20px 0;
}


@media screen and (max-width: 740px) {
    .about-first {
        width: 100%;
        padding-right: 0;
    }
    
    .about-second {
        width: 100%;
        padding-left: 0px;
    }
}
