 <section class="blog-hero responsive">
    <div class="blog-first">
        <h2>The importance of nail salon sanitation</h2>
        <p>I have been working in the beauty industry for last 7 years 
        and I worked at multiple nail salons. Throughout this experience, 
        one thing I notice in many nail salons were that they do not clean 
        and don't really care for client's nail health. <br/><br/>
            As a licensed nail technician it is my responsibility to keep my tools 
            clean and not transfer any bacterias between clients. But I believe it 
            is important for clients to know that if the nail technician is cleaning the tools properly. 
            Here are things to be aware of for your next visit to the nail salon:<br/><br/>
            1. Make sure if the nail salon soaks the metal tools in barbeside at least 10 minutes. It is not required for every state to use autoclave in nail salons but it is the best
            way to kill germs from metal tools or there are optional high-heater small portable salon tool sanitizer machines. <br/><br/>
            2. Reusing file, buff and pumis are not acceptable. It does not matter how much they 
            scrub and spray wiping-alcohol it does not kill bacterias 100%. There are only 
            2 ways to prevent bacteria from files and buff . Either you bring your own tools 
            or the salon uses new file, buff and pumis for each client. <br/><br/>
            3. Pedicure tubs can keep bacterias if not cleaned properly. Most states require that pedicure 
            tubs are whipped and scrubbed after each client and rinsed with barbiside for at least 10 minutes.<br/><br/>
            These are the basic sanitary rules that every nail salons should follow. If your 
            nail salon doesn't do either one or any of these you should request to the manager
            or the owner. It will be a huge step for keeping yourself healthy and actually enjoy
            your service without worrying about these things.<br/><br/>
        </p>
    </div>
    <div class="clearfix"></div>
</section>