<section class="hours-hero responsive">
    <div class="hours-cta">
        <p>Appointments Only<br/><br/>
          This place is closed<br/><br/>
          Located inside the Salons by JC<br/>
            Suite #29<br/>
            308 E Rand Rd<br/>
            Arlington Heights, IL 60004<br/><br/>
            <span class="pink">Gift Certificate Available</span><br/><br/>
            <a href="https://www.facebook.com/nailsandsmiles/" target="_blank"><span class="curcle ion-social-facebook"></span><br/></a>
        </p>
    </div>
    
    <div class="hours-email">
        <p class="pink">Please call if you are looking to book an appointment that is less than 2 days.</p>
        <div class="email-form">
            <form action="https://formspree.io/nailsandsmiles2016@gmail.com" method="POST">
                <label><span>Your Name (required)</span>
                    <input type="text" name="name">
                </label>
               
                <label><span>Your Email (required)</span>
                    <input type="email" name="_replyto">
                </label>
                
                <label><span>Your Phone Number (required)</span>
                    <input type="text" name="phone-number">
                </label>
                
                <label><span>Date and Time of the appointment (required)</span>
                    <input type="text" name="date-and-time">
                </label>
                
                <label><span>Services to get done (required)</span>
                    <input type="text" name="services-requested">
                </label>
                
                <label><span>Request or Message</span>
                    <textarea name="message"></textarea>
                </label>
                <input type="text" name="_gotcha" style="display:none" />
                <input type="hidden" name="_next" value="http://nailsandsmiles.com/#/hours"/>
                <input type="submit" value="Send">
            </form> 
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>