 <section class="about-hero responsive">
    <p>Based on the importance 
    of enhancing and maintaining a person’s natural beauty, Nails and Smiles was 
    founded by Jaga in September 2016 after she noticed a 
    demand for premium nail care in top sanitasion enfironment 
    that offer both a relaxing and cozy experience.<br/><br/>
    She believes that women should have strong, beautiful and most 
    importantly real nails obviating the need for extensions which destroy nail beds.<br/><br/>
    
    </p>
</section>