 <section class="about-hero responsive">
    <div class="about-first">
        <p>Based on the importance 
            of enhancing and maintaining a person’s natural beauty, Nails and Smiles was 
            founded by Jaga in September 2016 after she noticed a 
            demand for premium nail care in top sanitasion enfironment 
            that offer both a relaxing and cozy experience.<br/><br/>
            She believes that women should have strong, beautiful and most 
            importantly real nails obviating the need for extensions which destroy nail beds.<br/><br/>
        </p>
    </div>
    <div class="about-second">
        <p>Our customers' nail health is really important for us. To provide top sanitasion for everyone we
            use new files, new buffs and new pumises for each services. For pedicures we use disposable 
            plastic liners to prevent any health problems. Our metal tools are sanitized after each services 
            by following Illinois salon sanitasion requirements. <br/><br/>We do all this so you can just relax while getting pampered. 
        </p>
    </div>
    <div class="clearfix"></div>
    <!--<div class="about-third">-->
    <!--    <p>Appointments Only<br/><br/>To schedule an appointment please call 773-698-4554<br/><br/>-->
    <!--    Gift Certificate Available</p>-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
</section>