<section class="services-hero services-responsive">
    <div class="mani-section">
        <h3>manicure</h3> 
        <p class="sub-name">Regular Manicure <span class="price">16</span> <br/> <span class="description">Weekly maintenance manicure: nails are shaped, buffed, hand cream applied, finishing with a fresh pop of colour.</span></p>
        <p class="sub-name">Paraffin Wax <span class="price">7</span> <br/> <span class="description">Add paraffin was for your manicure service. Recommended for dry rough skin.</span></p>
        <p class="sub-name">No-Chip Manicure <span class="price">38</span> <br/> <span class="description">Nails are shaped, cuticles tidied, gel polish applied for long lasting effect and finished with hands hydrated with a nourishing cream. Stays atleast 2 weeks.</span></p>
        <p class="sub-name">No-Chip Polish Change <span class="price">28</span> <br/> <span class="description">Reshaping of nails and gel polish applied. Stays atleast 2 weeks.</span></p>
        <p class="sub-name">Regular Polish Change <span class="price">10</span> <br/> <span class="description">Reshaping of nails and fresh regular polish applied.</span></p>
        <p class="sub-name">French <span class="price">5</span> <br/> <span class="description">Add French style for your manicure.</span></p>
    </div>
    
    <div class="pedi-section">
        <h3>pedicure</h3> 
        <p class="sub-name">Regular Pedicure <span class="price">28</span><br/> <span class="description">fadff</span></p>
    </div>
    <div class="clearfix"></div>
</section>
