<div class="service-about services-responsive">To provide top sanitary service for everyone we
            use new files, new buffs and new pumice for each service. For pedicures, we use disposable 
            plastic liners to prevent any health problems. Our metal tools are sanitized after each service 
            by following Illinois salon sanitation requirements.
</div>

<section class="services-hero services-responsive">
    <div class="mani-section">
        <h3>Specials</h3>
        <p class="sub-name">Regular Manicure and Pedicure <span class="price">37</span><br/> <span class="description"></span></p>
        <p class="sub-name">No-Chip Manicure and Regular Pedicure <span class="price">62</span><br/> <span class="description"></span></p>
        <p class="sub-name">Express Manicure and Pedicure <span class="price">34</span><br/> <span class="description"></span></p>
        
        <h3>manicure</h3> 
        <p class="sub-name">Regular Manicure <span class="price">15</span> <br/> <span class="description">Weekly maintenance manicure, nails are shaped, buffed, hand cream applied, finishing with a fresh pop of color.</span></p>
        <p class="sub-name">No-Chip Manicure <span class="price">37</span> <br/> <span class="description">Nails are shaped, cuticles tidied, gel polish applied for long lasting effect and finished with hands hydrated with a nourishing cream. Stays at least 2 weeks. No dry time.</span></p>
    
        <h3>Polish Change</h3> 
        <p class="sub-name">Regular Hand Polish Change <span class="price">10</span> <br/> <span class="description">Reshaping of nails and fresh regular polish applied.</span></p>
        <p class="sub-name">Regular Toe Polish Change <span class="price">12</span><br/> <span class="description">Reshaping of nails and fresh regular polish applied.</span></p>
        <p class="sub-name">No-Chip Hand Polish Change <span class="price">28</span> <br/> <span class="description">Reshaping of nails and gel polish applied. Stays at least 2 weeks. No dry time.</span></p>
       <p class="sub-name">No-Chip Toe Polish Change <span class="price">33</span> <br/> <span class="description">Reshaping of nails and gel polish applied. Stays at least 2 weeks. No dry time.</span></p>
    
    </div>
    
    <div class="pedi-section">
        <h3>pedicure</h3> 
        <p class="sub-name">Regular Pedicure <span class="price">27</span><br/> <span class="description">Nails are trimmed and filed to shape, cuticles are tidied, legs are exfoliated before the hard skin is removed from the soles of feet and smoothed with lotion and nails are finished with regular polish.</span></p>
        <p class="sub-name">Express Pedicure <span class="price">23</span><br/> <span class="description">Nails are trimmed and filed to shape, hard skin is buffed away and nails are finished with polish.</span></p>
        <p class="sub-name">No-Chip Pedicure <span class="price">42</span><br/> <span class="description">Our Regular Pedicure followed by Gel polish leaves nails ultra glossy with no drying time.</span></p>
        
        <h3>Additional Services</h3> 
        <p class="sub-name">French <span class="price">5</span> <br/> <span class="description">Add French style for your manicure.</span></p>
        <p class="sub-name">Paraffin Wax on Hand <span class="price">5</span> <br/> <span class="description">Add paraffin was for your manicure service. Recommended for dry rough skin.</span></p>
        <p class="sub-name">Paraffin Wax on Heel <span class="price">3</span><br/> <span class="description">Recommended for dry cracked heels.</span></p>
        <p class="sub-name">Nail Design <span class="price">5+</span><br/> <span class="description"></span></p>
        
        <h3>Kids</h3> 
        <p class="sub-name"><span class="description">Under 12 years old 15% off</span></p>
    </div>
    <div class="clearfix"></div>
</section>
