<div class="service-about services-responsive">To provide top sanitasion for everyone 
    we use new files, new buffs and new pumises for each services. 
    For pedicures we use disposable plastic liners to prevent any health problems. Our metal tools 
    are sanitized after each services by following Illinois salon sanitasion requirements. 
</div>

<section class="services-hero services-responsive">
    <div class="mani-section">
        <h3>Specials</h3>
        <p class="sub-name">Regular Manicure and Pedicure <span class="price">45</span><br/> <span class="description">fadff</span></p>
        <p class="sub-name">No-Chip Manicure and Regular Pedicure <span class="price">70</span><br/> <span class="description">fadff</span></p>
        <p class="sub-name">Express Manicure and Pedicure <span class="price">35</span><br/> <span class="description">fadff</span></p>
        
        <h3>manicure</h3> 
        <p class="sub-name">Regular Manicure <span class="price">18</span> <br/> <span class="description">Weekly maintenance manicure: nails are shaped, buffed, hand cream applied, finishing with a fresh pop of colour.</span></p>
        <p class="sub-name">No-Chip Manicure <span class="price">40</span> <br/> <span class="description">Nails are shaped, cuticles tidied, gel polish applied for long lasting effect and finished with hands hydrated with a nourishing cream. Stays atleast 2 weeks.</span></p>
    
        <h3>Polish Change</h3> 
        <p class="sub-name">Regular Hand Polish Change <span class="price">10</span> <br/> <span class="description">Reshaping of nails and fresh regular polish applied.</span></p>
        <p class="sub-name">Regular Toe Polish Change <span class="price">12</span><br/> <span class="description">fadff</span></p>
        <p class="sub-name">No-Chip Hand Polish Change <span class="price">30</span> <br/> <span class="description">Reshaping of nails and gel polish applied. Stays atleast 2 weeks.</span></p>
       <p class="sub-name">No-Chip Toe Polish Change <span class="price">40</span> <br/> <span class="description">Reshaping of nails and gel polish applied. Stays atleast 2 weeks.</span></p>
    
    </div>
    
    <div class="pedi-section">
        <h3>pedicure</h3> 
        <p class="sub-name">Regular Pedicure <span class="price">30</span><br/> <span class="description">fadff</span></p>
        <p class="sub-name">Express Pedicure <span class="price">25</span><br/> <span class="description">fadff</span></p>
        <p class="sub-name">No-Chip Pedicure <span class="price">50</span><br/> <span class="description">fadff</span></p>
        
        <h3>Additional Services</h3> 
        <p class="sub-name">French <span class="price">6</span> <br/> <span class="description">Add French style for your manicure.</span></p>
        <p class="sub-name">Paraffin Wax on Hand <span class="price">7</span> <br/> <span class="description">Add paraffin was for your manicure service. Recommended for dry rough skin.</span></p>
        <p class="sub-name">Paraffin Wax on Heel <span class="price">5</span><br/> <span class="description">fadff</span></p>
        <p class="sub-name">Nail Design <span class="price">5+</span><br/> <span class="description">fadff</span></p>
        
        <h3>Kids</h3> 
        <p class="sub-name"><span class="description">Under 12 years old 15% off</span></p>
    </div>
    <div class="clearfix"></div>
</section>
